<div class={{styles.wrapper}}>
    <form action="signin.html">
    <h2 class={{styles.heading}}>Вход</h2>
    {{{inputLogin}}}
    {{{inputPassword}}}
    {{{button}}}
    {{{errorResponse}}}
    <a href="/signup" class={{styles.link}}>Нет аккаунта?</a>

    </form>
</div>
