    <div class={{styles.main-chat-avatar}}>
        ВТ
    </div>
    <div class={{styles.main-chat-title}}>
        {{currentChatInfo.title}}
    </div>
    <div class={{styles.main-chat-config}}>
        {{{dot}}}
    </div>
