<div class="wrapperProfile">
    <div class="assetLeft">
        {{{backButton}}}
    </div>
    <article class="mainContent">
        <div class="profileWrapper">
        <form action="#">
            <div class="defaultAvatar">
                <img src="{{avatar}}" alt="">
            </div>
            <h2 class="firstName">Сменить пароль</h2>
            <div class="profileStringsWrapper">
                <div class="profileString">
                    <div class="profileStringLeft">Старый пароль</div>
                    {{{inputOldPassword}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Новый пароль</div>
                    {{{inputPassword}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Подтвердить новый пароль </div>
                    {{{inputRepeatPassword}}}
                </div>
            </div>
            {{{button}}}
            {{{errorResponse}}}
        </form>
        </div>
    </article>
</div>
