<div class={{styles.wrapper}}>
    <div class={{styles.assetLeft}}>
        {{{backButton}}}
    </div>
    <article class={{styles.mainContent}}>
        <div class={{styles.profileWrapper}}>
        <form action="#">
            <div class={{styles.defaultAvatar}}>
                <img src="{{avatar}}" alt="">
            </div>
            <h2 class={{styles.firstName}}>Сменить пароль</h2>
            <div class={{styles.profileStringsWrapper}}>
                <div class={{styles.profileString}}>
                    <div class={{styles.profileStringLeft}}>Старый пароль</div>
                    {{{inputOldPassword}}}
                </div>
                <div class={{styles.profileString}}>
                    <div class={{styles.profileStringLeft}}>Новый пароль</div>
                    {{{inputPassword}}}
                </div>
                <div class={{styles.profileString}}>
                    <div class={{styles.profileStringLeft}}>Подтвердить новый пароль </div>
                    {{{inputRepeatPassword}}}
                </div>
            </div>
            {{{button}}}
            {{{errorResponse}}}
        </form>
        </div>
    </article>
</div>
