<div class="wrapperProfile">
    <div class="assetLeft">
        {{{backButton}}}
    </div>
    <article class="mainContent">
        <div class="profileWrapper">
            <div class="defaultAvatar">
                <img src="{{avatar}}" alt="">
            </div>
            <h2 class="firstName">Редактировать профиль</h2>
            <div class="profileStringsWrapper">
                <div class="profileString">
                    <div class="profileStringLeft">Почта</div>
                    {{{inputEmail}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Логин</div>
                    {{{inputLogin}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Имя</div>
                    {{{inputFirstName}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Фамилия</div>
                    {{{inputSecondName}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Имя в чате</div>
                    {{{inputDisplayName}}}
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Телефон</div>
                    {{{inputPhone}}}
                </div>
            </div>
            {{{button}}}
            {{{errorResponse}}}
        </div>
    </article>
</div>
