<div class="wrapperProfile">
    <div class="assetLeft">
        {{{backButton}}}
    </div>
    <article class="mainContent">
        <div class="profileWrapper">
            <div class="defaultAvatar">
                <img src="{{avatar}}" alt="Нет аватара">
            </div>
            <h2 class="firstName">Профиль пользователя</h2>
            <div class="profileStringsWrapper">
                <div class="profileString">
                    <div class="profileStringLeft">Почта</div>
                    <div class="profileStringRight">{{email}}</div>
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Логин</div>
                    <div class="profileStringRight">{{login}}</div>
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Имя</div>
                    <div class="profileStringRight">{{first_name}}</div>
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Фамилия</div>
                    <div class="profileStringRight">{{second_name}}</div>
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Имя в чате</div>
                    <div class="profileStringRight">{{display_name}}</div>
                </div>
                <div class="profileString">
                    <div class="profileStringLeft">Телефон</div>
                    <div class="profileStringRight">{{phone}}</div>
                </div>
            </div>
            <nav class="profileStringsMenu">
                <div class="profileString">
                    {{{editProfile}}}
                </div>
                <div class="profileString">
                    {{{changePassword}}}
                </div>
                <div class="profileString">
                    {{{logout}}}
                </div>
            </nav>
        </div>
    </article>
</div>
