<div class="chat-item-wrapper" data-id={{id}}>
    <div class="chat-item-avatar-wrapper"></div>
    <div class="chat-item-data-wrapper">
        <div class="chat-item-title-wrapper">
            <div class="chat-item-title-left">
                <p class="chat-item-title">{{title}}</p>
            </div>
            <div class="chat-item-title-right">
                <time class="chat-item-time">{{time}}</time>
            </div>
        </div>
        <div class="chat-item-last-message-wrapper">
            <div class="chat-item-last-message">
                <p>
                    <b>Вы:</b> {{message}}
                </p>
            </div>
            <div class="chat-item-mention-wrapper">
                <span class="chat-item-mention">{{bubble}}</span>
            </div>
        </div>
    </div>
</div>
