<aside class={{styles.left-block-wrapper}}>
    {{{linkProfile}}}
    <div class={{styles.search-chat-list}}>
        {{{zoom}}}
        <input type="text" placeholder="Поиск чатов" value="" />
    </div>
    {{{chatsList}}}
    <div class="">

    </div>
</aside>
<article class={{styles.main-content-wrapper}}>
    {{#if currentChat}}
        {{{chatTitle}}}
        {{{chatPosts}}}

        <div class={{styles.main-chat-footer}}>
            <div class={{styles.btn-left}}>{{{clip}}}</div>
            {{{message}}}
            {{{sendMessageButton}}}
        </div>
    {{else}}
        {{{chatNotice}}}
    {{/if}}
</article>
