<aside class="left-block-wrapper">
    {{{linkProfile}}}
    <div class="search-chat-list">
        {{{zoom}}}
        <input type="text" placeholder="Поиск чатов" value="" />
    </div>
    {{{chatsList}}}
    <div class="">

    </div>
</aside>
<article class="main-content-wrapper">
    {{#if currentChat}}
        {{{chatTitle}}}
        {{{chatPosts}}}

        <div class="main-chat-footer">
            <div class="btn-left">{{{clip}}}</div>
            {{{message}}}
            {{{sendMessageButton}}}
        </div>
    {{else}}
        {{{chatNotice}}}
    {{/if}}
</article>
