<div class="wrapper">
    <h2 class="heading">Регистрация</h2>
    <form action="/signup.html">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputPhone}}}
        {{{inputPassword}}}
        {{{inputRepeatPassword}}}
        {{{button}}}
        {{{errorResponse}}}
        <a href="/signin" class="link">Войти</a>
    </form>
</div>
