<div class={{styles.wrapper}}>
    <h2 class={{styles.heading}}>Регистрация</h2>
    <form action="/signup.html">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputPhone}}}
        {{{inputPassword}}}
        {{{inputRepeatPassword}}}
        {{{button}}}
        <a href="/signin.html" class={{styles.link}}>Войти</a>
    </form>
</div>
